$mobile-xss-breakpoint: 375px;
$mobile-xs-breakpoint: 576px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;
$desktop-breakpoint: 1200px;

$primary: #ef4941;
$grey-light: #aaa9a8;
$secondary: #f5f5f5;
$white: #fff;
